# ETL Migration information

# E - Extraction information

### Load libraries

In [213]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

#### Load csv

In [214]:
data_frame_users = pd.read_csv('./user_mock.csv', sep=',')
data_frame_users

,full_name,email,phone_number,birth_date,account_balancer,country
0,Tarrance Snoddon,tsnoddon0@miibeian.gov.cn,353-900-2502,7/10/1986,$40206.95,Brazil
1,Jordon Galliver,jgalliver1@de.vu,330-448-0334,2/10/2008,$63746.71,Mexico
2,Torr Briddle,tbriddle2@woothemes.com,747-696-7381,5/17/2003,$35266.07,Sweden
3,Ivan Bulter,ibulter3@dion.ne.jp,900-677-4739,6/3/1999,$17165.85,Indonesia
4,Rickard Burmingham,rburmingham4@google.es,214-183-9461,1/12/1927,$69119.02,Indonesia
...,...,...,...,...,...,...
995,Chrotoem Pardal,cpardalrn@altervista.org,937-152-3002,8/30/1954,$56509.47,Peru
996,Hester Schuricht,hschurichtro@so-net.ne.jp,427-164-9907,10/1/1933,$13774.44,France
997,Dewey Furlong,dfurlongrp@ebay.com,791-891-2627,10/26/1934,$79436.66,Tunisia
998,Lesli de Clercq,lderq@ebay.co.uk,429-977-7958,9/28/1985,$21434.88,Indonesia
999,Liana Curd,lcurdrr@home.pl,126-215-8806,8/22/1921,$83882.48,Thailand

### Convert data

In [215]:
data_frame_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   full_name         1000 non-null   object
 1   email             1000 non-null   object
 2   phone_number      1000 non-null   object
 3   birth_date        1000 non-null   object
 4   account_balancer  1000 non-null   object
 5   country           1000 non-null   object
dtypes: object(6)
memory usage: 47.0+ KB

In [216]:
data_frame_users['full_name'] = data_frame_users['full_name'].astype(str)
data_frame_users['email'] = data_frame_users['email'].astype(str)
data_frame_users['phone_number'] = data_frame_users['phone_number'].astype(str)
data_frame_users['country'] = data_frame_users['country'].astype(str)
data_frame_users['birth_date'] = pd.to_datetime(data_frame_users['birth_date'],errors='coerce')
data_frame_users['account_balancer'] = (
    data_frame_users['account_balancer']
    .replace('[\$,]', '', regex=True) 
    .astype(float)
)
data_frame_users

,full_name,email,phone_number,birth_date,account_balancer,country
0,Tarrance Snoddon,tsnoddon0@miibeian.gov.cn,353-900-2502,1986-07-10,40206.95,Brazil
1,Jordon Galliver,jgalliver1@de.vu,330-448-0334,2008-02-10,63746.71,Mexico
2,Torr Briddle,tbriddle2@woothemes.com,747-696-7381,2003-05-17,35266.07,Sweden
3,Ivan Bulter,ibulter3@dion.ne.jp,900-677-4739,1999-06-03,17165.85,Indonesia
4,Rickard Burmingham,rburmingham4@google.es,214-183-9461,1927-01-12,69119.02,Indonesia
...,...,...,...,...,...,...
995,Chrotoem Pardal,cpardalrn@altervista.org,937-152-3002,1954-08-30,56509.47,Peru
996,Hester Schuricht,hschurichtro@so-net.ne.jp,427-164-9907,1933-10-01,13774.44,France
997,Dewey Furlong,dfurlongrp@ebay.com,791-891-2627,1934-10-26,79436.66,Tunisia
998,Lesli de Clercq,lderq@ebay.co.uk,429-977-7958,1985-09-28,21434.88,Indonesia
999,Liana Curd,lcurdrr@home.pl,126-215-8806,1921-08-22,83882.48,Thailand

In [217]:
data_frame_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   full_name         1000 non-null   object
 1   email             1000 non-null   object
 2   phone_number      1000 non-null   object
 3   birth_date        1000 non-null   datetime64[ns]
 4   account_balancer  1000 non-null   float64
 5   country           1000 non-null   object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 47.0+ KB

# Transformation data

### clean data ( email and phone_number)


- There are not data null in email and phone_number

In [218]:
data_frame_users_copy = data_frame_users.copy()

In [219]:
not_null_phone = data_frame_users_copy[['phone_number']].isnull().sum()
not_null_email = data_frame_users_copy[['email']].isnull().sum()

print(f'# Not null in phone_number: {not_null_phone}')
print(f'# Not null in email: {not_null_email}')

# Not null in phone_number: phone_number    0
dtype: int64
# Not null in email: email    0
dtype: int64

In [220]:
data_frame_users_copy['full_name'] = data_frame_users_copy['full_name'].apply(lambda x: x.title())

In [221]:
data_frame_users_copy

,full_name,email,phone_number,birth_date,account_balancer,country
0,Tarrance Snoddon,tsnoddon0@miibeian.gov.cn,353-900-2502,1986-07-10,40206.95,Brazil
1,Jordon Galliver,jgalliver1@de.vu,330-448-0334,2008-02-10,63746.71,Mexico
2,Torr Briddle,tbriddle2@woothemes.com,747-696-7381,2003-05-17,35266.07,Sweden
3,Ivan Bulter,ibulter3@dion.ne.jp,900-677-4739,1999-06-03,17165.85,Indonesia
4,Rickard Burmingham,rburmingham4@google.es,214-183-9461,1927-01-12,69119.02,Indonesia
...,...,...,...,...,...,...
995,Chrotoem Pardal,cpardalrn@altervista.org,937-152-3002,1954-08-30,56509.47,Peru
996,Hester Schuricht,hschurichtro@so-net.ne.jp,427-164-9907,1933-10-01,13774.44,France
997,Dewey Furlong,dfurlongrp@ebay.com,791-891-2627,1934-10-26,79436.66,Tunisia
998,Lesli De Clercq,lderq@ebay.co.uk,429-977-7958,1985-09-28,21434.88,Indonesia
999,Liana Curd,lcurdrr@home.pl,126-215-8806,1921-08-22,83882.48,Thailand

## Add age

In [222]:
print(data_frame_users_copy['birth_date'].head())

0   1986-07-10
1   2008-02-10
2   2003-05-17
3   1999-06-03
4   1927-01-12
Name: birth_date, dtype: datetime64[ns]

In [223]:
data_frame_users_copy = data_frame_users_copy[data_frame_users_copy['birth_date'] <= pd.Timestamp.now()]
print(data_frame_users_copy['birth_date'])

0     1986-07-10
1     2008-02-10
2     2003-05-17
3     1999-06-03
4     1927-01-12
         ...
995   1954-08-30
996   1933-10-01
997   1934-10-26
998   1985-09-28
999   1921-08-22
Name: birth_date, Length: 1000, dtype: datetime64[ns]

In [225]:
date_now = pd.Timestamp.now()
data_frame_users_copy['age'] = data_frame_users_copy['birth_date'].apply(
    lambda x: date_now.year - x.year - ((date_now.month, date_now.day) < (x.month, x.day))
)
data_frame_users_copy

,full_name,email,phone_number,birth_date,account_balancer,country,age
0,Tarrance Snoddon,tsnoddon0@miibeian.gov.cn,353-900-2502,1986-07-10,40206.95,Brazil,38
1,Jordon Galliver,jgalliver1@de.vu,330-448-0334,2008-02-10,63746.71,Mexico,16
2,Torr Briddle,tbriddle2@woothemes.com,747-696-7381,2003-05-17,35266.07,Sweden,21
3,Ivan Bulter,ibulter3@dion.ne.jp,900-677-4739,1999-06-03,17165.85,Indonesia,25
4,Rickard Burmingham,rburmingham4@google.es,214-183-9461,1927-01-12,69119.02,Indonesia,97
...,...,...,...,...,...,...,...
995,Chrotoem Pardal,cpardalrn@altervista.org,937-152-3002,1954-08-30,56509.47,Peru,70
996,Hester Schuricht,hschurichtro@so-net.ne.jp,427-164-9907,1933-10-01,13774.44,France,91
997,Dewey Furlong,dfurlongrp@ebay.com,791-891-2627,1934-10-26,79436.66,Tunisia,90
998,Lesli De Clercq,lderq@ebay.co.uk,429-977-7958,1985-09-28,21434.88,Indonesia,39
999,Liana Curd,lcurdrr@home.pl,126-215-8806,1921-08-22,83882.48,Thailand,103

### Add Account_category

In [253]:
def change_account_category(account_balancer: float) -> str:
    if account_balancer < 10000:
        return 'Low'
    elif 10000 <= account_balancer <= 50000:
        return 'Medium'
    else:
        return 'High'

data_frame_users_copy['account_category'] = data_frame_users_copy['account_balancer'].apply(
    lambda x: change_account_category(float(x))
            
)

data_frame_users_copy

,full_name,email,phone_number,birth_date,account_balancer,country,age,account_category
0,Tarrance Snoddon,tsnoddon0@miibeian.gov.cn,353-900-2502,1986-07-10,40206.95,Brazil,38,Medium
1,Jordon Galliver,jgalliver1@de.vu,330-448-0334,2008-02-10,63746.71,Mexico,16,High
2,Torr Briddle,tbriddle2@woothemes.com,747-696-7381,2003-05-17,35266.07,Sweden,21,Medium
3,Ivan Bulter,ibulter3@dion.ne.jp,900-677-4739,1999-06-03,17165.85,Indonesia,25,Medium
4,Rickard Burmingham,rburmingham4@google.es,214-183-9461,1927-01-12,69119.02,Indonesia,97,High
...,...,...,...,...,...,...,...,...
995,Chrotoem Pardal,cpardalrn@altervista.org,937-152-3002,1954-08-30,56509.47,Peru,70,High
996,Hester Schuricht,hschurichtro@so-net.ne.jp,427-164-9907,1933-10-01,13774.44,France,91,Medium
997,Dewey Furlong,dfurlongrp@ebay.com,791-891-2627,1934-10-26,79436.66,Tunisia,90,High
998,Lesli De Clercq,lderq@ebay.co.uk,429-977-7958,1985-09-28,21434.88,Indonesia,39,Medium
999,Liana Curd,lcurdrr@home.pl,126-215-8806,1921-08-22,83882.48,Thailand,103,High

In [267]:
data_frame_users_copy['id_user'] = data_frame_users_copy.index + 1
data_frame_users_copy

,full_name,email,phone_number,birth_date,account_balancer,country,age,account_category,id_user
0,Tarrance Snoddon,tsnoddon0@miibeian.gov.cn,353-900-2502,1986-07-10,40206.95,Brazil,38,Medium,1
1,Jordon Galliver,jgalliver1@de.vu,330-448-0334,2008-02-10,63746.71,Mexico,16,High,2
2,Torr Briddle,tbriddle2@woothemes.com,747-696-7381,2003-05-17,35266.07,Sweden,21,Medium,3
3,Ivan Bulter,ibulter3@dion.ne.jp,900-677-4739,1999-06-03,17165.85,Indonesia,25,Medium,4
4,Rickard Burmingham,rburmingham4@google.es,214-183-9461,1927-01-12,69119.02,Indonesia,97,High,5
...,...,...,...,...,...,...,...,...,...
995,Chrotoem Pardal,cpardalrn@altervista.org,937-152-3002,1954-08-30,56509.47,Peru,70,High,996
996,Hester Schuricht,hschurichtro@so-net.ne.jp,427-164-9907,1933-10-01,13774.44,France,91,Medium,997
997,Dewey Furlong,dfurlongrp@ebay.com,791-891-2627,1934-10-26,79436.66,Tunisia,90,High,998
998,Lesli De Clercq,lderq@ebay.co.uk,429-977-7958,1985-09-28,21434.88,Indonesia,39,Medium,999
999,Liana Curd,lcurdrr@home.pl,126-215-8806,1921-08-22,83882.48,Thailand,103,High,1000

# L - Load information in postgres

#### Conection with potsgres

In [ ]:
engine_postgres = create_engine('postgresql+psycopg2://usersName:password@localhost:5432/databaseName')
connection = engine_postgres.connect()

In [268]:
data_frame_users_copy.to_sql('customers', engine_postgres, if_exists='append', index=False)

1000